{% extends "base.html" %}

{% block title %}
    <title>Project Ideas Blog</title>
{% endblock %}



{% block content %}

    <h2>Read the latest submissions!</h2>

    <p>Or you can <a href="/blog/newpost">create a new post</a>.</p>

    <hr>
        {% for i in bodies %}
            <div class="body">
                <div class="body-subject"><a href="/blog/{{i.key().id()}}">{{i.subject}}</a></div>
                <pre class="body-content">{{i.body}}<pre> <!--We're grabbing the subject of a DB entry in the bodies table -->
            <div>
        {% endfor %}

{% endblock %}
